html, body{
    width: 100%;
    height: 100%;
}
.user-label{
    display: inline;
    float: right;
}
.hero{
    background-image: url("../img/crossword.png");
    background-size: cover;
    background-position: center;
    height: 20%;
    width: 100%;
}
.quick-game-container{
    max-width: 800px;
}
.word-list{
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover {
    color: #fff !important;
    background-color: slategray;
    cursor: pointer;
}

.router-link:hover{
    cursor: pointer;
}

.board-field-container {
    height: 100px;
}

.board-field {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    text-shadow: 5px 5px 10px black;
    cursor: pointer;
}

.board-field.active {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5) inset;
}

.board-field.marked {
    background-color: rgba(0,0,0,0.1);
}

.board-field.correct.marked{
    background-color: #1f471f;
}

.board-field.wrong.marked{
    background-color: #660000;
}

.board-field.locked.marked{
    background-color: #01294c;
}

.board-field > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.board-field div span{
    margin: 0 auto;
}

.board-field.correct {
    background-color: #2d672d;
    color: white;
}

.board-field.wrong {
    background-color: maroon;
    color: white;
}

.board-field.locked {
    background-color: #014682;
    color: white;
    cursor: default !important;
}

.black-field {
    background-color: black;
}

.white-field {
    background-color: white;
}

.board-field-content{
    line-height: 100px;
    font-size: 80px;
}

.board-field-content-min{
    line-height: 50px;
    font-size: 45px;
}
