<div class="hero"></div>
<nav class="navbar navbar-full navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand"><img src="/assets/img/cross_icon.png"/></a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link router-link" [class.active]="isActive(['Home'])" (click)="navigate(['Home'])">Почетна страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link router-link" [class.active]="isActive(['QuickGame'])" (click)="navigate(['QuickGame'])">Брза игра</a>
            </li>
            <li class="nav-item">
                <a class="nav-link router-link" [class.active]="isActive(['Login'])" (click)="navigate(['Login'])">Пријава</a>
            </li>
            <li class="nav-item">
                <a class="nav-link router-link" [class.active]="isActive(['NewAccount'])" (click)="navigate(['NewAccount'])">Нов налог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link router-link" [class.active]="isActive(['TopList'])" (click)="navigate(['TopList'])">Листа најбољих</a>
            </li>
            <li class="nav-item" [hidden]="!isAdmin">
                <a class="nav-link router-link" [class.active]="isActive(['AdminHome'])" (click)="navigate(['AdminHome'])">Администраторска секција</a>
            </li>
        </ul>
        <div class="dropdown user-label" [hidden]="userName == null || userName == 'null'">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Корисник: {{ userName }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item router-link" (click)="logOut()">Одјава</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>