<div class="container">
    <h1>Администраторска секција</h1>
    <div class="row">
        <div class="col-md-3">
            <p>Број речи:</p>
        </div>
        <div class="col-md-3">
            <p>Дужина:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="number" class="form-control"
                   [(ngModel)]="randomWordsNum"
            >
        </div>
        <div class="col-md-3">
            <select class="form-control" [(ngModel)]="selectedRandomLength">
                <option value="0">све</option>
                <option *ngFor="let len of randomWordLengths" [value]="len">{{ len }}</option>
            </select>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" style="width: 100%" (click)="addRandomWords()">Додај речи</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger" style="width: 100%" (click)="removeAllWords()">Обриши све речи</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-success" style="width: 100%" #genButton (click)="runWholeAlgorithm(genButton)">Направи укрштенице</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" style="width: 100%" (click)="runAlgorithmStep()">Покрени корак {{ (currStep+1) }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <words-search
                    (wordSelected)="registerWordAdded($event)"
            ></words-search>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <h2>Табла</h2>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary" style="width: 100%" (click)="reduceBoard()">-</button>
                </div>
                <div class="col-md-3">
                    <p class="text-md-center">
                        {{ boardSize }}
                    </p>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary" style="width: 100%" (click)="enlargeBoard()">+</button>
                </div>
            </div>
            <board-component [board]="board"
                             [playMode]="false"
                             [horizontalTooltips]="{}"
                             [verticalTooltips]="{}"
                             [gameId]="0">
            </board-component>
            <div class="row" [hidden]="results.length == 0">
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" style="width: 100%" (click)="loadPrevResult()"><</button>
                </div>
                <div class="col-md-4">
                    <p class="text-md-center">
                        {{ (currResult+1) }}/{{ results.length }}
                    </p>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-secondary" style="width: 100%" (click)="loadNextResult()">></button>
                </div>
            </div>
            <div class="row" [hidden]="results.length == 0">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" style="width: 100%" [disabled]="resultUploadInProgress" (click)="uploadCurrentResult()">Сачувај резултат</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success" style="width: 100%" [disabled]="resultUploadInProgress" (click)="uploadAllResults()">Сачувај резултате</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-danger" style="width: 100%" [disabled]="resultUploadInProgress" (click)="clearResults()">Обриши резултате</button>
                </div>
            </div>
            <div class="row" [hidden]="!resultUploadInProgress">
                <div class="col-md-12">
                    <progress class="progress progress-striped progress-animated" [value]="uploadAllResultsProgress" max="100"></progress>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <words-selected
                    [words]="selectedWords"
                    (wordRemoved)="registerWordRemoved($event)"
            ></words-selected>
        </div>
    </div>
</div>
