<div class="row word-list">
    <div *ngFor="let w of words" class="col-md-12">
        <button type="button" class="list-group-item list-group-item-action" style="cursor:default;"
                (click)="selectWord(w)">
            {{ w }}
            <bs-tooltip placement="right" trigger="mouseenter">
                {{ w.descriptionShort }}
                <hr style="border: 1px solid white;"/>
                {{ w.description }}
            </bs-tooltip>
            <span [hidden]="!wordsRemovable" style="float: right; cursor: pointer;" (click)="removeWord(w)">&times;</span>
        </button>
    </div>
</div>