<h2>Претрага речи</h2>
<input type="text" class="form-control"
       [(ngModel)]="word"
       (keyup)="searchForWords($event)"
>
<words-list
        [wordsRemovable]="false"
        [words]="words"
        (wordSelected)="selectWord($event)"
></words-list>