<div class="board-container">
    <div id="board">
        <div class="board-field-container"
             *ngFor="let d1 of board.dimensionList; let i1 = index"
             [style.width.px]="boardWidth"
             [style.height.px]="boardWidth/board.dimension"
        >
            <field-component
                    *ngFor="let d2 of board.dimensionList; let i2 = index"
                    [isBlack]="board.isBlackField(i2, i1)"
                    [fieldNum]="board.getFieldNum(i2,i1)"
                    [isActive]="board.activeFieldNum == board.getFieldNum(i2,i1)"
                    [boardDimension]="board.dimension"
                    (boardChange)="registerBoardChange($event)"
                    [topTooltipMessage]="(playMode ? horizontalTooltips[board.getFieldNum(i2,i1).toString()] : '')"
                    [leftTooltipMessage]="(playMode ? verticalTooltips[board.getFieldNum(i2,i1).toString()] : '')"
                    [fieldDimension]="boardWidth/board.dimension"
            >
            </field-component>
        </div>
    </div>
</div>