<div class="rotater">
    <div id="cube" class="panels-backface-invisible">
        <figure class="front">
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
            </div>
        </figure>
        <figure class="back">
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
            </div>
        </figure>
        <figure class="right">
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
        </figure>
        <figure class="left">
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
        </figure>
        <figure class="top">
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-black"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
        </figure>
        <figure class="bottom">
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-black"></div>
            </div>
            <div class="inner-loader-row">
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
                <div class="inner-loader-field-white"></div>
            </div>
        </figure>
    </div>
</div>