<div class="board-field text-xs-center"
     [class.white-field]="!isBlack"
     [class.black-field]="isBlack"
     [class.active]="isActive"
     [class.correct]="isCorrect"
     [class.wrong]="isWrong"
     [class.marked]="isMarked"
     [class.locked]="isLocked"
     [style.width.px]="fieldDimension"
     [style.height.px]="fieldDimension"
     (click)="fieldClick()"
     #field
>
    <div>
        <span class="board-field-content"
              [ngStyle]="{'font-size': (fieldDimension*0.8).toString()+'px', 'line-height': fieldDimension.toString()+'px'}"
        >{{content}}</span>
        <bs-tooltip placement="top" showEvent="focus" hideEvent="blur">
            {{topTooltipMessage}}
        </bs-tooltip>
        <bs-tooltip placement="left" showEvent="focus" hideEvent="blur">
            {{leftTooltipMessage}}
        </bs-tooltip>
    </div>
</div>