<div class="container text-xs-center">
    <cube-rotater-component></cube-rotater-component>
    <h1>Мени</h1>
    <nav class="nav nav-pills nav-stacked">
        <a class="nav-link menu-item" (click)="navigate(['QuickGame'])">Брза игра</a>
        <a class="nav-link menu-item" (click)="navigate(['Login'])">Пријава</a>
        <a class="nav-link menu-item" (click)="navigate(['NewAccount'])">Нов налог</a>
        <a class="nav-link menu-item" (click)="navigate(['TopList'])">Листа најбољих</a>
    </nav>
</div>
