<div class="container quick-game-container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-md-center">
                Brza igra
            </h2>
        </div>
        <div class="col-md-4" [hidden]="gameOver">
            <p class="text-md-center">
                {{ hours }}:{{ minutes }}:{{ seconds }}
            </p>
        </div>
        <div class="col-md-4" [hidden]="gameOver">
            <p class="text-md-center text-danger">
                {{ errorNum }} грешака
            </p>
        </div>
        <div class="col-md-4" [hidden]="!gameOver">
            <button type="button" class="btn btn-secondary" style="width: 100%" (click)="loadNewGame()">
                <i class="fa fa-fw fa-refresh"></i>
            </button>
        </div>
    </div>
    <board-component [board]="quickGame.board"
                     [horizontalTooltips]="quickGame.horizontalTooltips"
                     [verticalTooltips]="quickGame.verticalTooltips"
                     [playMode]="true"
                     [gameId]="quickGame.id"
                     (gameOverEvent)="registerGameOver($event)"
                     (errorEvent)="registerErrorOccurred($event)"
    >
    </board-component>
</div>
