<div class="container">
    <ul class="list-group">
        <li
                *ngFor="let item of topList; let i = index"
                class="list-group-item"
        >
            {{ (i+1) }}. {{ item }}
        </li>
    </ul>
</div>
