<div class="container">
    <h1>Отварање новог налога</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">Корисничко име: </label>
            <input id="username" type="text" class="form-control" required
                   [(ngModel)]="user.username"
                   ngControl="username" #username="ngForm" >
            <div [hidden]="username.valid" class="alert alert-danger">
                Корисничко име је обавезно
            </div>
        </div>
        <div class="form-group">
            <label for="password">Шифра: </label>
            <input id="password" type="password" class="form-control" required
                   [(ngModel)]="user.password"
                   ngControl="password" #password="ngForm" >
            <div [hidden]="password.valid" class="alert alert-danger">
                Шифра је обавезна
            </div>
        </div>
        <div class="form-group">
            <label for="user_name">Пуно име: </label>
            <input id="user_name" type="text" class="form-control" required
                   [(ngModel)]="user.userName"
                   ngControl="user_name" #user_name="ngForm" >
            <div [hidden]="user_name.valid" class="alert alert-danger">
                Пуно име је обавезно
            </div>
        </div>
        <button type="submit" class="btn btn-default"
                [disabled]="!loginForm.form.valid">Направи налог</button>
    </form>
</div>
